body {

    font-family: Arial, sans-serif;

    background-color: #bcb5b5;

    color: #333;

    margin: 0;

    padding: 20px;

}

.resume-container {

    max-width: 800px;

    background: #fff;

    padding: 20px;

    margin: auto;

    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

header {

    text-align: center;

    background: #333;

    color: rgb(246, 246, 246);

    padding: 20px;

    border-radius: 10px 10px 0 0;

}

section {

    margin: 20px 0;

}

h2 {

    border-bottom: 2px solid #333;

    padding-bottom: 5px;

}

ul {

    list-style: none;

    padding: 0;

}

ul li {

    padding-left: 5px;


}
